<!doctype html>
<html lang="en">
  <head>
	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body  style="background-color:black; color:white; font-size:20px">
    <div style="width: 50%; position: absolute; left: 0px; height: 100vh; background-color:#a1f6ff">
      <img src='/images/bird.png' style="height: 100vh; max-width:100%">
    </div>

    <div style="width: 50%; position: absolute; right: 0px; height: 100%;">
      <div style="margin-top:100px; self-align:center; text-align:center">
        <p style="margin-top:100px"> Log in and see whats NEW </p>
        <form action="/login" method="post"> 
          <label for="username"> Username: </label>
          <br>
          <input type="text" name="username">
          <br>
          <label for="password"> Password: </label>
          <br>
          <input type="text" name="password">
          <br>
          <br>
          <input type="submit" value="Submit">
        </form>
        <% if @error_message %>
          <p id="error" style="color: red">
            <%= @error_message %>
          </p>
        <% end %>
        <p style="margin-top:100px;"> Or <a href="/users/new">Sign Up</a> if you dont have an account. </p>
      </div>
    </div>

  </body>
</html>