<!doctype html>
<html lang="en">
  <head>
	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script>
        Pusher.logToConsole = true;
        var pusher = new Pusher('f75186482c65c79ac41f', {
          cluster: 'us2'
        });


        var channel = pusher.subscribe('my-channel');
        channel.bind('my-event', function (data) {
          var html = $('<div class="card shadow-lg bg-dark" style="border-radius:10px; margin-top:20px; margin-bottom:20px;">
              <div class="card-title">
                <span class="glyphicon glyphicon-user"></span>'
                + JSON.stringify(data.user)+
              '</div>
              <div class="card-body">'+
              JSON.stringify(data.text)+
                '<div style="font-size:10px">
                <a href="#"> <span class="glyphicon glyphicon-comment"></span> </a>'
                +JSON.stringify(data.retweet)+' rewteets
                <a href="#"> <span class="glyphicon glyphicon-heart"></span> </a>'
                +JSON.stringify(data.like)+' likes'
                +JSON.stringify(data.time)+'
                </div>
              </div> 
            </div>');

          
          $('#tweets').append(html);
        });
    </script>

    </head>
  <form action="/home" style="margin-top: 1px; margin-left: 2px; position:absolute; top:0; left:0;"> <input style="font-size:10px;background-color:white" type="submit" value="back"/> </form>
  <form action="/search" style="margin-top: 1px; margin-right: 2px; position:absolute; top:0; right:0;"> <input name="phrase" hidden="true" value=<%=@key%> > <input  style="font-size:10px;background-color:white" type="submit" name="paged" value="next 50 results"/> </form>
  <body  style="background-color:black; color:white; font-size:20px">
    <div class="container" style="margin-top:10px">

    <div class="row">
      <div class="col-2">
      </div>

      <div id="tweets" class="col-8" style="height:100vh">

      </div>
    
      <div class="col-2">
      </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</html>