<!doctype html>
<html lang="en">
  <head>
	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body  style="background-color:black; color:white; font-size:20px">
    <div style="width: 50%; position: absolute; left: 0px; height: 100vh; background-color:#a1f6ff">
      <img src='https://png2.cleanpng.com/sh/99464dbc80564242a8705328d5f18050/L0KzQYm3UsE2N5pwj5H0aYP2gLBuTfVie6VqitC2Ynz4dbPwkvQudZD6huZqaX6wcr38hfJqepUye95ycD3kgsW0gvx2baQye95ycHH1hMS0VfE5PmY1fqcAYUezcYq1U8M4QWg2Tak6NUG7R4a4Wcg6O2g1TZD5bne=/kisspng-eastern-bluebird-mountain-bluebird-clip-art-blues-cliparts-5a8650f55a70a9.3379715715187519893705.png' style="height: 100vh; max-width:100%">
    </div>

    <div style="width: 50%; position: absolute; right: 0px; height: 100%;">
      <div style="margin-top:100px; self-align:center; text-align:center">
      <h1>Sign up</h1>

      <form action="/users/new" method="post"> 
          <label for="username"> our name </label>
          <br>
          <input type="text" name="username">
          <br>
          <label for="password1"> Your password </label>
          <br>
          <input type="text" name="password1">
          <br>
          <label for="password2"> Please enter the password again </label>
          <br>
          <input type="text" name="password2">
          <br>
          <br>
          <input type="submit">
      </form>
      <% if @error_message %>
        <p id="error" style="color: red">
          <%= @error_message %>
        </p>
      <% end %>

      </div>
    </div>

  </body>
</html>