<html>
<head>
</head>

<body>
    <p>Total users: <%= @users%> </p>
    <p>Total follows: <%= @follows%> </p>
    <p>Total tweets: <%= @tweets%> </p>
    <p>TestUser's id: <%= @testUser%> </p>
</body>
</html>