test:
  adapter: postgresql
  database: nt_project_test
  host: 0.0.0.0
  port: 5432
  username: postgres
  password: postgres
  pool: 2

development:
  adapter: postgresql
  database: nt_project_dev
  host: 0.0.0.0
  port: 5432
  username: postgres
  password: postgres
  pool: 2

production:
  adapter: postgresql
  database: nt_project_prod
  host: 0.0.0.0
  port: 5432
  username: postgres
  password: postgres
  pool: 2